<h1>Edit post</h1>

<% if @post.errors.any? %>
  <h4>Please fix these errors:</h4>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>
