<h1>New Post</h1>

<% if @post.errors.any? %>
  <h4>Oops there were some errors. Please try again:</h4>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>
