
.smallish {
  font-size: 15pt;
}

.main-nav li {
  display: inline;
  margin-right: 1em;
}

.posts a:hover {
  color: grey;
}

.posts a {
  color: teal;
}

.nav-right {
  float: right;
}

.home h3 {
  color: teal;
}

.left {
  float: left;
  width: 60%;
  height: 100%;
  padding: 10px;
  border: 7px solid darkgrey;
  border-radius: 25px;
  background: white;
}

.column {
  float: right;
  padding: 8px 10px;
  margin-right: 10px;
  width: 38%;
  padding: 10px;
  border: 7px solid darkgrey;
  border-radius: 25px;
  background: white;
}

.left2 {
  float: right;
  padding: 8px 10px;
  margin-right: 10px;
  width: 64%;
  padding: 10px;
  border: 7px solid darkgrey;
  border-radius: 25px;
  background: white;
}

.column2 {
  float: left;
  width: 34%;
  height: 100%;
  padding: 10px;
  border: 7px solid darkgrey;
  border-radius: 25px;
  background: white;
}

.nav {
  margin-top: 10px;
}

.nav ul {
  display: inline;
}

body {
  /*background-image: url("http://3.bp.blogspot.com/_FH24fl5-Tds/S9WeRimNvcI/AAAAAAAAABM/o43XiMIhHiQ/s1600/triangle_grey.jpg");
  background-size: cover;*/
  background-color: grey;
}

button a {
  color:white;
}
.nav-rights {
  float: right;
  margin-right: 350px;
  margin-top: 3px;
  display: inline;
}

input {
  border-radius: 25px;
  border: 2px solid;
  border-color: darkgrey;
}

.column h1 {
  margin-right: 5px;
}

.nav {
  background: white;
  padding: 10px;
  border: 7px solid darkgrey;
  border-radius: 25px;
}

.arial {
  font-family: arial;
}

.highlight {
  color: teal;
  font-family: arial;
}

a:hover {
  color: white;
}
