.smallish {
  font-size: 15pt;
}

.main-nav li {
  display: inline;
  margin-right: 1em;
}

.posts a:hover {
  color: white;
}

.posts a {
  color: yellow;
}

.nav-right {
  float: right;
}

.home h3 {
  color: yellow;
}

.column {
  float: right;
  padding: 5px 10px;
  margin-right: 10px;
  text-align: right;
  width: 38%;
}

.nav {
  margin-top: 10px;
}

body {
  /*background-image: url("http://3.bp.blogspot.com/_FH24fl5-Tds/S9WeRimNvcI/AAAAAAAAABM/o43XiMIhHiQ/s1600/triangle_grey.jpg");
  background-size: cover;*/
  background-color: grey;
}

.left {
  float:left;
  width: 60%;
}
button a {
  color:white;
}
